#_loading_screen {
    width: 100svw;
    height: 100svh;
    background-color: var(--loading-screen-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 250ms;
}
#_loading_bar {
    height: 128px;
    aspect-ratio: 1 / 1;
}

#_loading_logo_bg {
    fill: var(--loading-screen-background);
}
#_loading_indicator{
    font-size: 1.3em;
}