* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--app-color-1);
}

:root {
    --test: #67FF50;
    --app-color-1: rgb(17, 17, 17);
    --app-color-ligth: rgb(238, 238, 238);
    --app-color-2: rgb(214, 59, 39);
    --app-color-3: rgb(237, 82, 62); 
    --app-color-4: rgb(40, 40, 40);
    --app-color-5: rgb(242, 92, 73);

    --loading-bar-height: 10px;
    --loading-bar-color: var(--app-color-ligth);
    --loading-screen-background: var(--app-color-1);
    --loading-bar-done-color: var(--app-color-5);


}