* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: var(--app-color-ligth);
}

body {
    background-color: var(--body-bg);
}

:root {
    --app-color-1: #171717;
    --app-color-ligth: #fafafa;
    --app-color-2: #272727;
    --app-color-2: #A9F249;

    --body-bg: #101010;

    --loading-bar-height: 15px;
    --loading-bar-color: var(--body-bg);
    --loading-screen-background: var(--app-color-1);
    --loading-bar-done-color: var(--app-color-2);


}